@import "../../../assets/styles/mixins/resposive";
.card {
  width: fill;
  max-width: 470px;

  @include tablet {
    max-width: none;
  }
  @include mobile {
    max-width: none;
  }
  &__title {
    margin-bottom: 1.125rem;
  }
  &__img {
    width: 8rem;
    height: 8rem;
    float: left;
  }
}
